# 미세먼지 데이터 전처리

In [2]:
import pandas as pd
import os

In [27]:
for i in [2016]:
    dust_1Q = pd.read_csv(f'../../lawdata/dust/{i}/{i}년 1분기.csv', encoding='cp949')
    dust_2Q = pd.read_csv(f'../../lawdata/dust/{i}/{i}년 1분기.csv', encoding='cp949')
    dust_3Q = pd.read_csv(f'../../lawdata/dust/{i}/{i}년 1분기.csv', encoding='cp949')
    dust_4Q = pd.read_csv(f'../../lawdata/dust/{i}/{i}년 1분기.csv', encoding='cp949')

In [13]:
dust =pd.concat([dust_1Q,dust_2Q,dust_3Q,dust_4Q], axis=0, ignore_index = True)
print(dust.head())
print(dust.tail())

       지역   측정소코드 측정소명        측정일시    SO2   CO     O3    NO2  PM10  PM25  \
0  강원 강릉시  632132  옥천동  2016010101  0.004  0.6  0.023  0.015  47.0  38.0
1  강원 강릉시  632132  옥천동  2016010102  0.004  0.6  0.024  0.015  51.0  43.0
2  강원 강릉시  632132  옥천동  2016010103  0.004  0.6  0.024  0.014  52.0  44.0
3  강원 강릉시  632132  옥천동  2016010104  0.003  0.6  0.024  0.013  45.0  38.0
4  강원 강릉시  632132  옥천동  2016010105  0.004  0.6  0.025  0.013  43.0  37.0

           주소
0  강원 강릉시 옥천동
1  강원 강릉시 옥천동
2  강원 강릉시 옥천동
3  강원 강릉시 옥천동
4  강원 강릉시 옥천동
             지역   측정소코드 측정소명        측정일시    SO2   CO     O3    NO2  PM10  \
2818963  충북 충주시  633123  칠금동  2016123120  0.004  1.0  0.004  0.044  67.0
2818964  충북 충주시  633123  칠금동  2016123121  0.004  0.9  0.004  0.040  57.0
2818965  충북 충주시  633123  칠금동  2016123122  0.004  0.9  0.004  0.038  53.0
2818966  충북 충주시  633123  칠금동  2016123123  0.003  0.9  0.004  0.034  55.0
2818967  충북 충주시  633123  칠금동  2016123124  0.003  0.9  0.003  0.030  51.0

         PM25          주소
2818963  59.0  충북 충주시 칠금동
2818964  49.0  충북 충주시 칠금동
2818965  43.0  충북 충주시 칠금동
2818966  46.0  충북 충주시 칠금동
2818967  48.0  충북 충주시 칠금동

In [14]:
dust.info()
dust['시도'] = dust['지역'].agg(lambda x:x[:2])
dust['시군구'] = dust['지역'].agg(lambda x:str(x)[3:5])
dust.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2818968 entries, 0 to 2818967
Data columns (total 11 columns):
 #   Column  Dtype
---  ------  -----
 0   지역      object
 1   측정소코드   int64
 2   측정소명    object
 3   측정일시    int64
 4   SO2     float64
 5   CO      float64
 6   O3      float64
 7   NO2     float64
 8   PM10    float64
 9   PM25    float64
 10  주소      object
dtypes: float64(6), int64(2), object(3)
memory usage: 236.6+ MB

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소,시도,시군구
0,강원 강릉시,632132,옥천동,2016010101,0.004,0.6,0.023,0.015,47.0,38.0,강원 강릉시 옥천동,강원,강릉
1,강원 강릉시,632132,옥천동,2016010102,0.004,0.6,0.024,0.015,51.0,43.0,강원 강릉시 옥천동,강원,강릉
2,강원 강릉시,632132,옥천동,2016010103,0.004,0.6,0.024,0.014,52.0,44.0,강원 강릉시 옥천동,강원,강릉
3,강원 강릉시,632132,옥천동,2016010104,0.003,0.6,0.024,0.013,45.0,38.0,강원 강릉시 옥천동,강원,강릉
4,강원 강릉시,632132,옥천동,2016010105,0.004,0.6,0.025,0.013,43.0,37.0,강원 강릉시 옥천동,강원,강릉

In [15]:
dust_D=dust[dust['시도']== '대전']
dust_C=dust[dust['시군구'] == '청주']

print(dust_D)
print(dust_C)
dust_group = dust.groupby(['지역','측정일시'])[['SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25']].mean()

             지역   측정소코드  측정소명        측정일시    SO2   CO     O3    NO2  PM10  \
336336   대전 대덕구  525111   읍내동  2016010101  0.007  1.7  0.001  0.038  98.0
336337   대전 대덕구  525111   읍내동  2016010102  0.004  1.5  0.001  0.033  81.0
336338   대전 대덕구  525111   읍내동  2016010103  0.005  1.5  0.001  0.032  78.0
336339   대전 대덕구  525111   읍내동  2016010104  0.004  1.5  0.001  0.028  75.0
336340   대전 대덕구  525111   읍내동  2016010105  0.004  1.3  0.001  0.025  63.0
...         ...     ...   ...         ...    ...  ...    ...    ...   ...
2472307   대전 중구  525151  대흥동1  2016123120  0.004  0.7  0.001  0.046  44.0
2472308   대전 중구  525151  대흥동1  2016123121  0.005  1.1  0.001  0.044  39.0
2472309   대전 중구  525151  대흥동1  2016123122  0.005  1.1  0.001  0.039  43.0
2472310   대전 중구  525151  대흥동1  2016123123  0.005  1.3  0.001  0.044  47.0
2472311   대전 중구  525151  대흥동1  2016123124  0.004  1.2  0.001  0.039  42.0

         PM25          주소  시도 시군구
336336    NaN  대전 대덕구 읍내동  대전  대덕
336337    NaN  대전 대덕구 읍내동  대전  대덕
336338    NaN  대전 대덕구 읍내동  대전  대덕
336339    NaN  대전 대덕구 읍내동  대전  대덕
336340    NaN  대전 대덕구 읍내동  대전  대덕
...       ...         ...  ..  ..
2472307   NaN   대전 중구 대흥동  대전  중구
2472308   NaN   대전 중구 대흥동  대전  중구
2472309   NaN   대전 중구 대흥동  대전  중구
2472310   NaN   대전 중구 대흥동  대전  중구
2472311   NaN   대전 중구 대흥동  대전  중구

[87840 rows x 13 columns]
             지역   측정소코드      측정소명        측정일시    SO2   CO     O3    NO2  PM10  \
681408   충북 청주시  533112  송정동(봉명동)  2016010101  0.004  1.2  0.001  0.052  95.0
681409   충북 청주시  533112  송정동(봉명동)  2016010102  0.003  1.1  0.001  0.046  94.0
681410   충북 청주시  533112  송정동(봉명동)  2016010103  0.003  1.1  0.001  0.042  88.0
681411   충북 청주시  533112  송정동(봉명동)  2016010104  0.003  1.1  0.000  0.038  89.0
681412   충북 청주시  533112  송정동(봉명동)  2016010105  0.003  1.0  0.001  0.031  90.0
...         ...     ...       ...         ...    ...  ...    ...    ...   ...
2814547  충북 청주시  633211       오창읍  2016123120  0.004  0.8  0.006  0.036  52.0
2814548  충북 청주시  633211       오창읍  2016123121  0.004  0.9  0.006  0.035  59.0
2814549  충북 청주시  633211       오창읍  2016123122  0.004  1.0  0.006  0.037  62.0
2814550  충북 청주시  633211       오창읍  2016123123  0.004  1.0  0.006  0.035  62.0
2814551  충북 청주시  633211       오창읍  2016123124  0.004  1.1  0.006  0.035  65.0

         PM25                   주소  시도 시군구
681408   83.0  충북 청주시 흥덕구 직지대로 620  충북  청주
681409   79.0  충북 청주시 흥덕구 직지대로 620  충북  청주
681410   82.0  충북 청주시 흥덕구 직지대로 620  충북  청주
681411   75.0  충북 청주시 흥덕구 직지대로 620  충북  청주
681412   79.0  충북 청주시 흥덕구 직지대로 620  충북  청주
...       ...                  ...  ..  ..
2814547  45.0    충북 청주시 청원구 오창읍 각리  충북  청주
2814548  53.0    충북 청주시 청원구 오창읍 각리  충북  청주
2814549  47.0    충북 청주시 청원구 오창읍 각리  충북  청주
2814550  57.0    충북 청주시 청원구 오창읍 각리  충북  청주
2814551  49.0    충북 청주시 청원구 오창읍 각리  충북  청주

[52704 rows x 13 columns]

In [16]:
dust_D_C= dust_D.append(dust_C)
dust_D_C= dust_D_C[['PM10','PM25','지역','측정일시','시도','시군구']]

def my_func2(a):
    a = str(a)[0:8]
    return a
    pass
dust_D_C['측정일시'] = dust_D_C['측정일시'].agg(my_func2)
dust_D_C

         PM10  PM25      지역      측정일시  시도 시군구
336336   98.0   NaN  대전 대덕구  20160101  대전  대덕
336337   81.0   NaN  대전 대덕구  20160101  대전  대덕
336338   78.0   NaN  대전 대덕구  20160101  대전  대덕
336339   75.0   NaN  대전 대덕구  20160101  대전  대덕
336340   63.0   NaN  대전 대덕구  20160101  대전  대덕
...       ...   ...     ...       ...  ..  ..
2814547  52.0  45.0  충북 청주시  20161231  충북  청주
2814548  59.0  53.0  충북 청주시  20161231  충북  청주
2814549  62.0  47.0  충북 청주시  20161231  충북  청주
2814550  62.0  57.0  충북 청주시  20161231  충북  청주
2814551  65.0  49.0  충북 청주시  20161231  충북  청주

[140544 rows x 6 columns]

In [17]:
dust_D_C.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140544 entries, 336336 to 2814551
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PM10    137540 non-null  float64
 1   PM25    84628 non-null   float64
 2   지역      140544 non-null  object
 3   측정일시    140544 non-null  object
 4   시도      140544 non-null  object
 5   시군구     140544 non-null  object
dtypes: float64(2), object(4)
memory usage: 7.5+ MB

In [18]:
dust_D_C = dust_D_C.groupby(['측정일시'])[['PM10','PM25','지역','시도','시군구']].mean()

In [19]:
dust_D_C.info()
dust_D_C.reset_index(level= None, inplace = True)
dust_D_C

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 20160101 to 20161231
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM10    366 non-null    float64
 1   PM25    366 non-null    float64
dtypes: float64(2)
memory usage: 8.6+ KB

         측정일시       PM10       PM25
0    20160101  60.835938  55.238095
1    20160102  51.671875  39.202381
2    20160103  70.259843  62.981818
3    20160104  84.140625  65.303571
4    20160105  33.494792  19.775758
..        ...        ...        ...
361  20161227  36.072917  22.738636
362  20161228  46.746702  26.910506
363  20161229  37.445026  19.694981
364  20161230  39.291667  23.583333
365  20161231  47.551181  36.305344

[366 rows x 3 columns]

In [20]:
Sejong = dust_D_C[['측정일시','PM25']]
Sejong['시도']='세종'
sejong = Sejong.loc[:120]
sejong = sejong[['측정일시','시도','PM25']]
sejong

         측정일시  시도       PM25
0    20160101  세종  55.238095
1    20160102  세종  39.202381
2    20160103  세종  62.981818
3    20160104  세종  65.303571
4    20160105  세종  19.775758
..        ...  ..        ...
116  20160426  세종  30.333333
117  20160427  세종  16.259259
118  20160428  세종  18.875000
119  20160429  세종  25.500000
120  20160430  세종  33.097222

[121 rows x 3 columns]

In [21]:
dust1 = dust[['시도','측정일시','CO','NO2','O3','PM10', 'PM25','SO2']]
dust1

         시도        측정일시   CO    NO2     O3  PM10  PM25    SO2
0        강원  2016010101  0.6  0.015  0.023  47.0  38.0  0.004
1        강원  2016010102  0.6  0.015  0.024  51.0  43.0  0.004
2        강원  2016010103  0.6  0.014  0.024  52.0  44.0  0.004
3        강원  2016010104  0.6  0.013  0.024  45.0  38.0  0.003
4        강원  2016010105  0.6  0.013  0.025  43.0  37.0  0.004
...      ..         ...  ...    ...    ...   ...   ...    ...
2818963  충북  2016123120  1.0  0.044  0.004  67.0  59.0  0.004
2818964  충북  2016123121  0.9  0.040  0.004  57.0  49.0  0.004
2818965  충북  2016123122  0.9  0.038  0.004  53.0  43.0  0.004
2818966  충북  2016123123  0.9  0.034  0.004  55.0  46.0  0.003
2818967  충북  2016123124  0.9  0.030  0.003  51.0  48.0  0.003

[2818968 rows x 8 columns]

In [22]:
def sido_code_func(vec1):
    for i in sido_code:
        if vec1 == sido_code[i]:
            return i
            pass
        pass
    pass

sido_code = {
     '42' : '강원',
     '41' : '경기',
     '43' : '충북',
     '44' : '충남',
     '30' : '대전',
     '47' : '경북',
     '48' : '경남',
     '45' : '전북',
     '46' : '전남', 
     '11' : '서울', 
     '28' : '인천',
     '27' : '대구',
     '31' : '울산',
     '29' : '광주', 
     '26' : '부산', 
     '49' : '제주',
     '36' : '세종'
}

In [23]:
dust1['시도코드']=dust1['시도'].apply(sido_code_func)
dust1

c:\app\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         시도        측정일시   CO    NO2     O3  PM10  PM25    SO2 시도코드
0        강원  2016010101  0.6  0.015  0.023  47.0  38.0  0.004   42
1        강원  2016010102  0.6  0.015  0.024  51.0  43.0  0.004   42
2        강원  2016010103  0.6  0.014  0.024  52.0  44.0  0.004   42
3        강원  2016010104  0.6  0.013  0.024  45.0  38.0  0.003   42
4        강원  2016010105  0.6  0.013  0.025  43.0  37.0  0.004   42
...      ..         ...  ...    ...    ...   ...   ...    ...  ...
2818963  충북  2016123120  1.0  0.044  0.004  67.0  59.0  0.004   43
2818964  충북  2016123121  0.9  0.040  0.004  57.0  49.0  0.004   43
2818965  충북  2016123122  0.9  0.038  0.004  53.0  43.0  0.004   43
2818966  충북  2016123123  0.9  0.034  0.004  55.0  46.0  0.003   43
2818967  충북  2016123124  0.9  0.030  0.003  51.0  48.0  0.003   43

[2818968 rows x 9 columns]

In [24]:
dust2 = dust1[['시도코드','측정일시','시도','PM10', 'PM25','SO2']]
dust2

        시도코드        측정일시  시도  PM10  PM25    SO2
0         42  2016010101  강원  47.0  38.0  0.004
1         42  2016010102  강원  51.0  43.0  0.004
2         42  2016010103  강원  52.0  44.0  0.004
3         42  2016010104  강원  45.0  38.0  0.003
4         42  2016010105  강원  43.0  37.0  0.004
...      ...         ...  ..   ...   ...    ...
2818963   43  2016123120  충북  67.0  59.0  0.004
2818964   43  2016123121  충북  57.0  49.0  0.004
2818965   43  2016123122  충북  53.0  43.0  0.004
2818966   43  2016123123  충북  55.0  46.0  0.003
2818967   43  2016123124  충북  51.0  48.0  0.003

[2818968 rows x 6 columns]

In [25]:
dust_D = dust1[dust1['시도'] == '대전']
dust_C = dust1[dust1['시도'] == '청주']

print(dust_D)

         시도        측정일시   CO    NO2     O3  PM10  PM25    SO2 시도코드
336336   대전  2016010101  1.7  0.038  0.001  98.0   NaN  0.007   30
336337   대전  2016010102  1.5  0.033  0.001  81.0   NaN  0.004   30
336338   대전  2016010103  1.5  0.032  0.001  78.0   NaN  0.005   30
336339   대전  2016010104  1.5  0.028  0.001  75.0   NaN  0.004   30
336340   대전  2016010105  1.3  0.025  0.001  63.0   NaN  0.004   30
...      ..         ...  ...    ...    ...   ...   ...    ...  ...
2472307  대전  2016123120  0.7  0.046  0.001  44.0   NaN  0.004   30
2472308  대전  2016123121  1.1  0.044  0.001  39.0   NaN  0.005   30
2472309  대전  2016123122  1.1  0.039  0.001  43.0   NaN  0.005   30
2472310  대전  2016123123  1.3  0.044  0.001  47.0   NaN  0.005   30
2472311  대전  2016123124  1.2  0.039  0.001  42.0   NaN  0.004   30

[87840 rows x 9 columns]

In [26]:
print(dust_C)

Empty DataFrame
Columns: [시도, 측정일시, CO, NO2, O3, PM10, PM25, SO2, 시도코드]
Index: []