In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [10]:
sido_list = {
'강원' : ['속초', '북춘천', '철원', '대관령', '춘천', '북강릉', '강릉', '동해', '원주', '영월', '인제', '홍천', '태백', '정선군'],
'경기' : ['동두천', '파주', '수원', '양평', '이천'],
'충북' : ['충주', '추풍령', '제천', '보은', '청주'],
'충남' : ['서산', '홍성', '보령', '부여', '금산', '천안'],
'대전' : ['대전'],
'경북' : ['울릉도', '울진', '안동', '상주', '포항', '봉화', '영주', '문경', '청송군', '영덕', '의성', '구미', '영천', '경주시'],
'경남': ['창원', '통영', '진주', '김해시', '북창원', '양산시', '의령군', '함양군', '밀양', '산청', '거제', '남해', '합천', '거창'],
'전북' : ['군산', '전주', '고창', '부안', '임실', '정읍', '남원', '장수', '고창군', '순창군', '장흥'],
'전남' : ['목포', '여수', '흑산도', '완도', '순천', '진도', '영광군', '보성군', '강진군', '해남', '고흥', '광양시', '진도군','진도(첨찰산)'],
'서울' : ['서울'],
'인천' : ['백령도', '인천', '강화'],
'대구' : ['대구'],
'울산' : ['울산'],
'광주' : ['광주'],
'부산' : ['부산'],
'제주' : ['제주', '고산', '성산', '서귀포']}

sido_code = {
     '42' : '강원',
     '41' : '경기',
     '43' : '충북',
     '44' : '충남',
     '30' : '대전',
     '47' : '경북',
     '48' : '경남',
     '45' : '전북',
     '46' : '전남', 
     '11' : '서울', 
     '28' : '인천',
     '27' : '대구',
     '31' : '울산',
     '29' : '광주', 
     '26' : '부산', 
     '49' : '제주',
     '36' : '세종'
}

In [8]:
def sido_func(vector):
    for i in sido_list:
        if vector in sido_list[i] :
            return i
            pass
        pass
    pass

def sido_code_func(vector2):
    for i in sido_code:
        if vector2 == sido_code[i]:
            return str(i)
            pass
        pass
    pass

In [11]:
for i in [2016,2017,2018]:
    df = pd.read_csv(f'C:/App/r_workspace/final_r/lawdata/weather/종기상관측_ASOS_{i}.csv', encoding = 'cp949')
    df[['일 최심신적설(cm)','일강수량(mm)','강수 계속시간(hr)']] = df[['일 최심신적설(cm)','일강수량(mm)','강수 계속시간(hr)']].fillna(value = 0)
    df['시도'] = df['지점명'].apply(sido_func)
    df_mk_sejong = df[df['지점명'].str.contains('대전|청주|공주', regex=True)]
    df_mk_sejong['시도'] = df_mk_sejong['지점명'].apply(lambda x :'세종')
    df_concat = pd.concat([df,df_mk_sejong])
    df_concat['시도코드'] = df_concat['시도'].apply(sido_code_func)
   
    df_group_1 = df_concat.drop(['지점'],axis=1)
#     df_group = df_concat.drop(['지점','강수 계속시간(hr)', '일강수량(mm)', '일 최심신적설(cm)'], axis=1).groupby(['시도코드','일시']).mean()
    df_group_1.to_csv(f'C:/App/r_workspace/final_r/lawdata/weather/기상관측_{i}_Fixed.csv', encoding = 'cp949')
    pass

<ipython-input-11-abb17e44694f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mk_sejong['시도'] = df_mk_sejong['지점명'].apply(lambda x :'세종')

In [5]:
df_group

                    지점  평균기온(°C)  최저기온(°C)  최고기온(°C)  강수 계속시간(hr)  일강수량(mm)  \
시도코드 일시
11   2018-01-01  108.0    -1.300    -5.100     3.800       0.0000     0.000
     2018-01-02  108.0    -1.800    -4.300     1.800       0.0000     0.000
     2018-01-03  108.0    -4.700    -7.100    -0.400       0.0000     0.000
     2018-01-04  108.0    -4.700    -8.700    -0.700       0.0000     0.000
     2018-01-05  108.0    -3.000    -5.600     1.600       0.0000     0.000
...                ...       ...       ...       ...          ...       ...
49   2018-12-27  186.5     3.575     1.350     7.475       0.0000     0.000
     2018-12-28  186.5     1.550     0.100     3.300       6.6375     0.925
     2018-12-29  186.5     2.800     0.825     4.975       1.2375     0.075
     2018-12-30  186.5     3.300     1.500     4.800       1.3250     0.025
     2018-12-31  186.5     4.750     3.050     6.625       0.0000     0.000

                 평균 풍속(m/s)  최다풍향(16방위)  평균 현지기압(hPa)  일 최심신적설(cm)
시도코드 일시
11   2018-01-01       1.400       290.0      1016.800          0.0
     2018-01-02       1.800       290.0      1018.100          0.0
     2018-01-03       2.200       290.0      1019.900          0.0
     2018-01-04       1.400       290.0      1016.500          0.0
     2018-01-05       1.700       290.0      1010.300          0.0
...                     ...         ...           ...          ...
49   2018-12-27       5.925       237.5      1021.000          0.0
     2018-12-28       6.200       242.5      1025.100          0.0
     2018-12-29       5.050       105.0      1028.650          0.0
     2018-12-30       4.350       152.5      1029.850          0.0
     2018-12-31       3.775       272.5      1029.625          0.0

[6205 rows x 10 columns]

In [1]:
df_weather_2016 = pd.read_csv(f'C:/app/TeamProject/mod_weather_Data/기상관측_2016_Fixed.csv', encoding = 'cp949')
df_weather_2017 = pd.read_csv(f'C:/app/TeamProject/mod_weather_Data/기상관측_2017_Fixed.csv', encoding = 'cp949')
df_weather_2018 = pd.read_csv(f'C:/app/TeamProject/mod_weather_Data/기상관측_2018_Fixed.csv', encoding = 'cp949')

NameError: name 'pd' is not defined

In [46]:
df_weather_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6222 entries, 0 to 6221
Data columns (total 11 columns):
시도코드            6222 non-null int64
일시              6222 non-null object
평균기온(°C)        6222 non-null float64
최저기온(°C)        6222 non-null float64
최고기온(°C)        6222 non-null float64
강수 계속시간(hr)     6222 non-null float64
일강수량(mm)        6222 non-null float64
평균 풍속(m/s)      6222 non-null float64
최다풍향(16방위)      6222 non-null float64
평균 현지기압(hPa)    6221 non-null float64
일 최심신적설(cm)     6222 non-null float64
dtypes: float64(9), int64(1), object(1)
memory usage: 534.8+ KB

In [47]:
df_weather_2016['일시'] = df_weather_2016.일시.apply(com).astype('int64')
df_weather_2016['시도코드']=df_weather_2016['시도코드'].astype('int64')

In [48]:
df_weather_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6222 entries, 0 to 6221
Data columns (total 11 columns):
시도코드            6222 non-null int64
일시              6222 non-null int64
평균기온(°C)        6222 non-null float64
최저기온(°C)        6222 non-null float64
최고기온(°C)        6222 non-null float64
강수 계속시간(hr)     6222 non-null float64
일강수량(mm)        6222 non-null float64
평균 풍속(m/s)      6222 non-null float64
최다풍향(16방위)      6222 non-null float64
평균 현지기압(hPa)    6221 non-null float64
일 최심신적설(cm)     6222 non-null float64
dtypes: float64(9), int64(2)
memory usage: 534.8 KB

In [49]:
import re
def com(vec):
    result = re.compile('(\d{4})[-](\d{2})[-](\d{2})').sub('\g<1>\g<2>\g<3>', vec)
    return result

In [50]:
df_weather_2016['기상번호'] = df_weather_2016['시도코드'].astype('str') + df_weather_2016['일시'].astype('str')
df_weather_2016

,시도코드,일시,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),일강수량(mm),평균 풍속(m/s),최다풍향(16방위),평균 현지기압(hPa),일 최심신적설(cm),기상번호
0,11,20160101,1.200,-3.300,4.000,0.0000,0.000,1.600,90.0,1019.900,0.0,1120160101
1,11,20160102,5.700,1.000,9.500,0.0000,0.000,2.000,320.0,1012.000,0.0,1120160102
2,11,20160103,6.500,5.100,9.400,0.0000,0.000,1.800,320.0,1008.900,0.0,1120160103
3,11,20160104,2.000,-2.500,5.300,0.0000,0.000,3.100,320.0,1013.100,0.0,1120160104
4,11,20160105,-2.700,-4.800,1.500,0.0000,0.000,2.300,20.0,1016.900,0.0,1120160105
...,...,...,...,...,...,...,...,...,...,...,...,...
6217,49,20161227,5.800,3.100,9.575,1.4675,0.350,8.050,310.0,1018.100,0.0,4920161227
6218,49,20161228,5.225,2.800,7.975,0.0000,0.000,3.975,235.0,1023.025,0.0,4920161228
6219,49,20161229,5.400,3.675,8.000,1.0500,0.075,5.950,287.5,1024.475,0.0,4920161229
6220,49,20161230,5.050,2.550,8.150,0.0000,0.000,3.225,172.5,1026.350,0.0,4920161230
6221,49,20161231,6.700,3.750,10.025,0.0000,0.000,2.600,292.5,1025.175,0.0,4920161231

In [51]:

# df_com_1 = df_com.groupby('기상번호').mean()
df_weather_2016_1 = df_weather_2016[
                    ['기상번호','시도코드',
                    '일시','평균기온(°C)',
                     '최저기온(°C)','최고기온(°C)',
                     '최다풍향(16방위)',
                     '평균 현지기압(hPa)',
                    '일 최심신적설(cm)','일강수량(mm)','강수 계속시간(hr)']
]

df_weather_2016_1

,기상번호,시도코드,일시,평균기온(°C),최저기온(°C),최고기온(°C),최다풍향(16방위),평균 현지기압(hPa),일 최심신적설(cm),일강수량(mm),강수 계속시간(hr)
0,1120160101,11,20160101,1.200,-3.300,4.000,90.0,1019.900,0.0,0.000,0.0000
1,1120160102,11,20160102,5.700,1.000,9.500,320.0,1012.000,0.0,0.000,0.0000
2,1120160103,11,20160103,6.500,5.100,9.400,320.0,1008.900,0.0,0.000,0.0000
3,1120160104,11,20160104,2.000,-2.500,5.300,320.0,1013.100,0.0,0.000,0.0000
4,1120160105,11,20160105,-2.700,-4.800,1.500,20.0,1016.900,0.0,0.000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...
6217,4920161227,49,20161227,5.800,3.100,9.575,310.0,1018.100,0.0,0.350,1.4675
6218,4920161228,49,20161228,5.225,2.800,7.975,235.0,1023.025,0.0,0.000,0.0000
6219,4920161229,49,20161229,5.400,3.675,8.000,287.5,1024.475,0.0,0.075,1.0500
6220,4920161230,49,20161230,5.050,2.550,8.150,172.5,1026.350,0.0,0.000,0.0000
6221,4920161231,49,20161231,6.700,3.750,10.025,292.5,1025.175,0.0,0.000,0.0000

In [52]:
df_weather_2016_1.to_csv(f'C:/app/TeamProject/mod_weather_Data/기상관측2016real_Fixed.csv', encoding = 'cp949')

In [53]:
df_weather_2017['일시'] = df_weather_2017.일시.apply(com).astype('int64')
df_weather_2017['시도코드']=df_weather_2017['시도코드'].astype('int64')
df_weather_2018['일시'] = df_weather_2018.일시.apply(com).astype('int64')
df_weather_2018['시도코드']=df_weather_2018['시도코드'].astype('int64')

In [54]:
df_weather_2017['기상번호'] = df_weather_2017['시도코드'].astype('str') + df_weather_2017['일시'].astype('str')
df_weather_2018['기상번호'] = df_weather_2018['시도코드'].astype('str') + df_weather_2018['일시'].astype('str')

In [55]:
df_weather_2017_1 = df_weather_2017[
                    ['기상번호','시도코드',
                    '일시','평균기온(°C)',
                     '최저기온(°C)','최고기온(°C)',
                     '최다풍향(16방위)',
                     '평균 현지기압(hPa)',
                    '일 최심신적설(cm)','일강수량(mm)','강수 계속시간(hr)']
]
df_weather_2018_1 = df_weather_2018[
                    ['기상번호','시도코드',
                    '일시','평균기온(°C)',
                     '최저기온(°C)','최고기온(°C)',
                     '최다풍향(16방위)',
                     '평균 현지기압(hPa)',
                    '일 최심신적설(cm)','일강수량(mm)','강수 계속시간(hr)']
]

In [56]:
df_weather_2017_1.to_csv(f'C:/app/TeamProject/mod_weather_Data/기상관측2017real_Fixed.csv', encoding = 'cp949')
df_weather_2018_1.to_csv(f'C:/app/TeamProject/mod_weather_Data/기상관측2018real_Fixed.csv', encoding = 'cp949')

In [32]:
abcd = pd.read_csv(f'C:/app/TeamProject/mod_weather_Data/기상관측2017real_Fixed.csv', encoding = 'cp949', parse_dates=['일시']) 
abcd.drop(['Unnamed: 0'], axis = 1)
abcd

,Unnamed: 0,기상번호,시도코드,일시,평균기온(°C),최저기온(°C),최고기온(°C),최다풍향(16방위),평균 현지기압(hPa),일 최심신적설(cm),일강수량(mm),강수 계속시간(hr)
0,0,1120170101,11,2017-01-01,2.700,-1.600,6.900,20.0,1017.100,0.0,0.00,0.0000
1,1,1120170102,11,2017-01-02,5.000,1.800,9.200,20.0,1011.800,0.0,0.30,2.0800
2,2,1120170103,11,2017-01-03,2.000,-2.300,7.700,270.0,1013.400,0.0,0.00,0.0000
3,3,1120170104,11,2017-01-04,3.900,1.000,8.900,270.0,1013.200,0.0,0.00,0.0000
4,4,1120170105,11,2017-01-05,3.800,-0.100,7.300,50.0,1016.600,0.0,0.00,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
6200,6200,4920171227,49,2017-12-27,3.825,1.975,5.850,305.0,1023.750,0.0,0.00,0.0000
6201,6201,4920171228,49,2017-12-28,5.625,2.400,7.875,227.5,1023.075,0.0,0.00,0.0000
6202,6202,4920171229,49,2017-12-29,8.525,4.000,11.775,292.5,1022.300,0.0,0.00,0.0000
6203,6203,4920171230,49,2017-12-30,9.925,7.850,12.750,315.0,1019.425,0.0,1.05,0.9325
6204,6204,4920171231,49,2017-12-31,7.225,5.425,9.675,312.5,1018.750,0.0,0.40,0.6300

In [33]:
abcd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6205 entries, 0 to 6204
Data columns (total 12 columns):
Unnamed: 0      6205 non-null int64
기상번호            6205 non-null int64
시도코드            6205 non-null int64
일시              6205 non-null datetime64[ns]
평균기온(°C)        6204 non-null float64
최저기온(°C)        6205 non-null float64
최고기온(°C)        6204 non-null float64
최다풍향(16방위)      6202 non-null float64
평균 현지기압(hPa)    6205 non-null float64
일 최심신적설(cm)     6205 non-null float64
일강수량(mm)        6205 non-null float64
강수 계속시간(hr)     6205 non-null float64
dtypes: datetime64[ns](1), float64(8), int64(3)
memory usage: 581.8 KB

In [37]:
abcd.index = abcd['일시']

In [38]:
abcd

,Unnamed: 0,기상번호,시도코드,일시,평균기온(°C),최저기온(°C),최고기온(°C),최다풍향(16방위),평균 현지기압(hPa),일 최심신적설(cm),일강수량(mm),강수 계속시간(hr)
일시,,,,,,,,,,,,
2017-01-01,0,1120170101,11,2017-01-01,2.700,-1.600,6.900,20.0,1017.100,0.0,0.00,0.0000
2017-01-02,1,1120170102,11,2017-01-02,5.000,1.800,9.200,20.0,1011.800,0.0,0.30,2.0800
2017-01-03,2,1120170103,11,2017-01-03,2.000,-2.300,7.700,270.0,1013.400,0.0,0.00,0.0000
2017-01-04,3,1120170104,11,2017-01-04,3.900,1.000,8.900,270.0,1013.200,0.0,0.00,0.0000
2017-01-05,4,1120170105,11,2017-01-05,3.800,-0.100,7.300,50.0,1016.600,0.0,0.00,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-27,6200,4920171227,49,2017-12-27,3.825,1.975,5.850,305.0,1023.750,0.0,0.00,0.0000
2017-12-28,6201,4920171228,49,2017-12-28,5.625,2.400,7.875,227.5,1023.075,0.0,0.00,0.0000
2017-12-29,6202,4920171229,49,2017-12-29,8.525,4.000,11.775,292.5,1022.300,0.0,0.00,0.0000
2017-12-30,6203,4920171230,49,2017-12-30,9.925,7.850,12.750,315.0,1019.425,0.0,1.05,0.9325
2017-12-31,6204,4920171231,49,2017-12-31,7.225,5.425,9.675,312.5,1018.750,0.0,0.40,0.6300

In [39]:
abcd['2017-01']

,Unnamed: 0,기상번호,시도코드,일시,평균기온(°C),최저기온(°C),최고기온(°C),최다풍향(16방위),평균 현지기압(hPa),일 최심신적설(cm),일강수량(mm),강수 계속시간(hr)
일시,,,,,,,,,,,,
2017-01-01,0,1120170101,11,2017-01-01,2.700,-1.600,6.900,20.0,1017.100,0.0,0.000,0.0000
2017-01-02,1,1120170102,11,2017-01-02,5.000,1.800,9.200,20.0,1011.800,0.0,0.300,2.0800
2017-01-03,2,1120170103,11,2017-01-03,2.000,-2.300,7.700,270.0,1013.400,0.0,0.000,0.0000
2017-01-04,3,1120170104,11,2017-01-04,3.900,1.000,8.900,270.0,1013.200,0.0,0.000,0.0000
2017-01-05,4,1120170105,11,2017-01-05,3.800,-0.100,7.300,50.0,1016.600,0.0,0.000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-01-27,5866,4920170127,49,2017-01-27,6.800,2.700,11.200,327.5,1021.750,0.0,0.000,0.0000
2017-01-28,5867,4920170128,49,2017-01-28,7.850,2.300,12.500,192.5,1019.825,0.0,0.000,0.0000
2017-01-29,5868,4920170129,49,2017-01-29,12.900,8.275,16.725,222.5,1011.575,0.0,8.525,1.2625
2017-01-30,5869,4920170130,49,2017-01-30,4.325,1.300,10.700,255.0,1018.850,0.0,0.900,0.7750
2017-01-31,5870,4920170131,49,2017-01-31,3.550,0.600,6.225,240.0,1021.850,0.0,0.000,0.0000